

        <%- include('../partials/header.ejs') %>
    <%- include('../partials/message.ejs') %>
        <div class="container position-sticky z-index-sticky top-0">
            <div class="row">
              <div class="col-12">
                
              </div>
            </div>
          </div>
          <main class="main-content  mt-0">
            <section>
              <div class="page-header min-vh-100">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                      <div class="card card-plain mt-5 bg-white">
                        <div class="card-header pb-0 text-left bg-white">
                          <h3 class="font-weight-bolder text-primary text-gradient">Change Password</h3>
                          <p class="mb-2">Enter your new password</p>
                        </div>
                        <div class="card-body">
                            <form role="form text-left" action="/changePassword" method="POST">
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                                    <input type="email" class="form-control" id="email" name="email" value="<%= email %>" placeholder="Password" aria-label="Password" aria-describedby="password-addon" hidden>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="confirmPassword"
                                        name="confirmPassword" placeholder="Confirm Password" aria-label="password"
                                        aria-describedby="password-addon">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Change</button>
                                </div>
                                <p class="text-sm mt-3 mb-0">Already have an account ? <a href="/login" class="text-dark font-weight-bolder">Sign in</a></p>
                            </form>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../soft/assets/img/curved-images/curved6.jpg')"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </main>

<%- include('../partials/footer.ejs') %>