<script src="../soft/assets/js/core/popper.min.js"></script>
<script src="../soft/assets/js/core/bootstrap.min.js"></script>
<script src="../soft/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../soft/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../soft/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const swiper = new Swiper('.swiper-container', {
          slidesPerView: 3, // Show 3 slides at a time
          spaceBetween: 30, // Space between slides in px
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
          breakpoints: {
              // Configure breakpoints if needed
              640: {
                  slidesPerView: 1,
                  spaceBetween: 20,
              },
              768: {
                  slidesPerView: 2,
                  spaceBetween: 30,
              },
              1024: {
                  slidesPerView: 3,
                  spaceBetween: 30,
              },
          },
      });
  });
</script>


</body>

</html>
</html>
